.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  margin: 0 auto;
  grid-gap: 20px;
}

@media only screen and (max-width: 675px) {
  .card-list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
